header {
    margin-top: 20px;
    .navUp {
        margin-bottom: 20px;
        .logoHeader {
            @include ajustarImg();
            width: 60%;
        }
        .inputSearch {
            width: 60%;
            @include font();
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            border: 2px rgb(22, 22, 22) solid;
            height: 36px;
            border-top-left-radius: 0.45rem;
            border-bottom-left-radius: 0.45rem;
            outline: none;
        }
        .btnSearch {
            height: 36px;
            background-color: rgb(255, 255, 255);
            padding-right: 15px;
            border-top-right-radius: 0.45rem;
            border-bottom-right-radius: 0.45rem;
            @include font();
            font-weight: 600;
            color: rgb(0, 0, 0);
            border: 2px rgb(22, 22, 22) solid;
            border-left: none;
            &:hover {
                transition: all 0.25s ease;
                background-color: rgb(0, 0, 0);
                color: rgb(255, 255, 255);
            }
        }
        .containerCart {
            position: relative;
            height: 30px;
            i {
                position: absolute;
                right: 370px;
                top: 0;
            }
            .listaCart {
                position: absolute;
                top: 40px;
                @include box(400px, 500px);
                background-color: red;
            }
        }
    }
    nav {
        border-top: solid 1px gray;
        padding: 20px 0px;
        .nav-container {
            display: flex;
            justify-content: center;
            gap: 200px;
            .nav-item {
                list-style: none;
                a {
                    text-decoration: none !important;
                }
                .active {
                    div {
                        color: cyan;
                    }
                }
                div {
                    @include font(32px);
                    color: rgb(0, 0, 0);
                    font-weight: bold;
                    padding: 3px 10px;
                    &:hover {
                        -webkit-box-shadow: 0px 22px 23px -10px rgba(0, 0, 0, 0.74);
                        box-shadow: 0px 22px 23px -10px rgba(0, 0, 0, 0.74);
                    }
                }
            }
        }
    }
}